{% extends '::base.html.twig' %}

{% block body %}

<form action="{{ path('answer_edit', { 'id': answer.id }) }}" method="post" {{ form_enctype(form) }}>
        {% if answer.id %}
            <input type="hidden" name="id" value="{{ answer.id }}" />
        {% endif %}
        {{ form_widget(form) }}

        <input type="submit" />
</form>

{% endblock %}